#profile-picture {
  border-radius: 50%;

  max-height: 100px;
}

#pikes-peak {
  height: auto;
  max-width: 400px;
  width: 100%;
}

article {
  background-color: silver;
}

aside {
  background-color: aquamarine;
}
